# executed at the beginnig of the X user session
# before the WM started

export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

export XMODIFIERS="@im=fcitx"
export XMODIFIER="@im=fcitx"
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export DefaultIMModule=fcitx

xkbcomp -I$HOME/.xkb ~/.xkb/keymap/mymap 
./scripts/disable-touchpad
fcitx
