# executed at the beginnig of the X user session
# before the WM started

export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

export XMODIFIERS="@im=ibus"
export XMODIFIER="@im=ibus"
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export DefaultIMModule=ibus
